In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
url = 'https://www.imdb.com/india/top-rated-indian-movies/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=2e9dfa9b-3e4d-4d39-acd2-8af11f252a59&pf_rd_r=EFCAK6CF4CTJ9JAEEHTY&pf_rd_s=right-5&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_india_tr_rhs_1'
page = requests.get(url)
page.status_code

200

In [3]:
soup = BeautifulSoup(page.content,'html.parser')
#print(soup.prettify())

In [4]:
tables = soup.find_all('table',class_='chart full-width')
#tables

In [5]:
top_rated_indian_movies = []

for table in tables:
    rows = table.find_all('tr')[1:]
    for row in rows:
        rank =(row.find_all('td')[1].get_text(strip =True)).split('.')[0]
        title = (row.find_all('td')[1].get_text(strip =True)).split('.')[1].split('(')[0]
        year =(row.find_all('td')[1].get_text(strip =True)).split('(')[1].split(')')[0]
        rating = (row.find_all('td')[2].get_text(strip=True))
        top_rated_indian_movies_dict = {'RANK':rank,'MOVIE':title,'Released Year':year,'IMDB RATING':rating}
        top_rated_indian_movies.append(top_rated_indian_movies_dict)

#print(top_rated_indian_movies)

In [6]:
top_250_movies = pd.DataFrame(data=top_rated_indian_movies,columns=['RANK','MOVIE','Released Year','IMDB RATING'])
top_250_movies.head()

  RANK            MOVIE Released Year IMDB RATING
0    1  Pather Panchali          1955         8.5
1    2         Ratsasan          2018         8.5
2    3         Gol Maal          1979         8.5
3    4     Vikram Vedha          2017         8.5
4    5          Nayakan          1987         8.5

In [7]:
top_250_movies.tail()

    RANK                    MOVIE Released Year IMDB RATING
245  246                 Badlapur          2015         7.4
246  247            Chillar Party          2011         7.4
247  248   Golmaal: Fun Unlimited          2006         7.4
248  249  Shaadi Mein Zaroor Aana          2017         7.4
249  250               Chachi 420          1997         7.4